In [ ]:
insert into r034fun SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r034fun] where numemp IN (51,52,53,54) order by 1,2,3;

In [ ]:
select distinct codesc from [LNK_SENIORHML].[VETORH_HML].[dbo].[r034fun] 
where codesc in (SELECT distinct codesc FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r006esc])

In [2]:
insert r006esc SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r006esc] esc2 
where NOT EXISTS (SELECT * FROM r006esc ESC1 where esc1.codesc = esc2.codesc)

In [3]:
insert into r034fun SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r034fun] where numemp IN (51,52,53,54) order by 1,2,3;

In [ ]:
SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[R004HOR] esc2 
where NOT EXISTS (SELECT * FROM R004HOR ESC1 where esc1.codhor = esc2.codhor)

In [8]:
insert R004HOR SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[R004HOR] esc2 
where NOT EXISTS (SELECT * FROM R004HOR ESC1 where esc1.codhor = esc2.codhor)

In [ ]:
SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[R006HOR] esc2 
where NOT EXISTS (SELECT * FROM R006HOR ESC1 where esc1.codhor = esc2.codhor)

In [ ]:
insert R006HOR SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[R006HOR] esc2 
where NOT EXISTS (SELECT * FROM R006HOR ESC1 where esc1.codesc = esc2.codesc)

In [13]:
insert into r034cpl SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r034cpl] where numemp IN (51,52,53,54) order by 1,2,3;

In [14]:
insert into r036dep SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r036dep] where numemp IN (51,52,53,54) order by 1,2,3;

In [18]:
insert into r034adm SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r034adm] where numemp IN (51,52,53,54) order by 1,2,3;

In [17]:
delete r034adm where numemp in (51,52,53,54)

In [19]:
update r034adm set codpro = 0 where numemp IN (51,52,53,54);

In [25]:
insert into r038cat SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038cat] where numemp IN (53) and numcad > 44 order by 1,2,3;

In [ ]:
select * from r038cat where numemp IN (51,52,53,54);

In [26]:
insert into r038cat SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038cat] where numemp IN (51,52,54) order by 1,2,3;

In [27]:
update r038cat set stahis = 1 where numemp IN (51,52,53,54);

In [28]:
insert into r038hsa SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hsa] where numemp IN (51,52,53,54) order by 1,2,3;

In [29]:
update r038hsa set tipest = 0 where numemp IN (51,52,53,54);

In [30]:
insert into r038hlo SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hlo] where numemp IN (51,52,53,54) order by 1,2,3;

In [1]:
update r038hlo set stahis = 1 where numemp IN (51,52,53,54);

In [2]:
insert into r038heb SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038heb] where numemp IN (51,52,53,54) order by 1,2,3;

In [3]:
update r038heb set obsini = ' '  where numemp IN (51,52,53,54);

In [4]:
insert into r038hca SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hca] where numemp IN (51,52,53,54) order by 1,2,3;

In [5]:
update r038hca set estcar = 1 where numemp IN (51,52,53,54);

In [6]:
insert into r038hcs SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hcs] where numemp IN (51,52,53,54) order by 1,2,3;

In [7]:
update r038hcs set stahis = 1 where numemp IN (51,52,53,54);

In [8]:
insert into r038afa SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038afa] where numemp IN (51,52,53,54) order by 1,2,3;

In [9]:
update r038afa set indrem = 0 where numemp IN (51,52,53,54);

In [10]:
insert into r038hfi SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hfi] where numemp IN (51,52,53,54) order by 1,2,3;

In [11]:
update r038hfi set confin = 0 where numemp IN (51,52,53,54);

In [12]:
insert into r038apu SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038apu] where numemp IN (51,52,53,54) order by 1,2,3;

In [13]:
insert into r038hch SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hch] where numemp IN (51,52,53,54) order by 1,2,3;

In [14]:
update r038hch set craent = ' ' where numemp IN (51,52,53,54);

In [15]:
insert into r038hsi SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hsi] where numemp IN (51,52,53,54) order by 1,2,3;

In [16]:
update r038hsi set stahis = 1 where numemp IN (51,52,53,54);

In [17]:
insert into r038hvi SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hvi] where numemp IN (51,52,53,54) order by 1,2,3;

In [18]:
update r038hvi set stahis = 1 where numemp IN (51,52,53,54);

In [19]:
insert into r038hes SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hes] where numemp IN (51,52,53,54) order by 1,2,3;

In [20]:
update r038hes set stahis = 1 where numemp IN (51,52,53,54);

In [26]:
insert into r018ccu SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r018ccu] ccu2 where numemp in (51,52,53,54)
and NOT EXISTS (SELECT * FROM r018ccu ESC1 where esc1.codccu = ccu2.codccu and esc1.numemp = ccu2.numemp)

In [27]:
insert into r038hcc SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038hcc] where numemp IN (51,52,53,54) order by 1,2,3;

In [29]:
update r038hcc set stahis = 1 where numemp IN (51,52,53,54);

In [30]:
insert into r038evt SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r038evt] where numemp IN (51,52,53,54) order by 1,2,3;

In [31]:
update r038evt set ponemb = 0 where numemp IN (51,52,53,54);

In [32]:
insert into r028exc SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r028exc] where numemp IN (51,52,53,54) order by 1,2,3;

In [37]:
insert into r012age SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r012age] age2
where NOT EXISTS (SELECT * FROM r012age age1 where age1.codban = age2.codban and age1.codage = age2.codage)

In [38]:
insert into r034con SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r034con] where numemp IN (51,52,53,54) order by 1,2,3;

In [42]:
insert into r164pla SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r164pla] pla2
where NOT EXISTS (SELECT * FROM r164pla pla1 where pla1.CodOem = pla2.CodOem and pla1.CodPla = pla2.CodPla)

In [45]:
insert into r164pre SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r164pre] pre2
where NOT EXISTS (SELECT * FROM r164pre pre1 where pre1.codoem = pre2.codoem and pre1.codpla = pre2.codpla)

In [46]:
insert into R164ass SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[R164ass] where numemp IN (51,52,53,54) order by 1,2,3;

In [47]:
insert into r164dep SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r164dep] where numemp IN (51,52,53,54) order by 1,2,3;

In [48]:
insert into r162ass SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r162ass] where numemp IN (51,52,53,54) order by 1,2,3;

In [49]:
insert into r042rcm SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r042rcm] where numemp IN (51,52,53,54) order by 1,2,3;

In [50]:
insert into r042rcv SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r042rcv] where numemp IN (51,52,53,54) order by 1,2,3;

In [51]:
insert into r040per SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r040per] where numemp IN (51,52,53,54) order by 1,2,3;

In [52]:
insert into r040fem SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r040fem] where numemp IN (51,52,53,54) order by 1,2,3;

In [53]:
insert into r040fev SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r040fev] where numemp IN (51,52,53,54) order by 1,2,3;

In [54]:
insert r044cal SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r044cal] cal2 
where NOT EXISTS (SELECT * FROM r044cal cal1 where cal1.codcal = cal2.codcal and cal1.numemp = cal2.numemp)

In [55]:
insert into r046ver SELECT * FROM [LNK_SENIORHML].[VETORH_HML].[dbo].[r046ver] where numemp IN (51,52,53,54) order by 1,2,3;

In [ ]:
update r044cal set sitcal = 'T' where numemp in (51,52,53,54)